.app-header {
    height: 50px;
    margin-left: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.app-content {
    margin-top: 50px;
    margin-left: 50px;
    width: auto;
    z-index: 1;
}